.video-big {
    display: block;
    width: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #eee 100%);
    background-attachment: fixed;
}

.projects {
    padding-top: 50px;

    @include media($small) {
        padding-top: 150px;
    }
    .project {
        display: inline-block;
        float: left;
        width: 100%;
        padding-top: 100%;
        position: relative;

        @include media($small) {
            width: 50%;
            padding-top: 50%;
        }

        .inner {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            padding: $punit;
            @include media($small) {
                padding: $punit / 2;
            }

        }

        .overlay {
            height: 150%;
            width: 150%;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.5);
            overflow: hidden;
            position: absolute;
            transition: 0.2s;

            position: relative;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%) scale(0);

            .title {
                font-family: $font-heading;
                letter-spacing: 0.4em;
                text-transform: uppercase;
                font-weight: 800;
                color: #fff;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
            }
        }

        .image {
            height: 100%;
            width: 100%;
            background: #c9c9c9;
            box-sizing: border-box;
            border: 0px solid #eee;
            background-size: cover;
            overflow: hidden;
        }

        &:hover .overlay {
            transform: translateY(-50%) translateX(-50%) scale(1)
        }
    }

}
