
@charset "utf-8";



// Our variables
$font-body: "minion-pro", Georgia, serif;
$font-heading: "effra", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$punit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$small: 480px;
$medium: 768px;
$large: 1024px;
$xlarge: 1440px;
$xxlarge: 1920px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base",
    "typography",
    "syntax-highlighting",
    "mixins",
    "layout",
    "header"
;
